<div class="contact">
  <nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Home</a>
    <span class="breadcrumb-item active">Contact</span>
  </nav>
  
  <div class="heading">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-expanded="true">Home</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-expanded="true">Profile</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-expanded="true">Messages</a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-expanded="true">Settings</a>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
    </div>
  </div>

  <div class="container">
     <div class="row">
      <form>
        <h2>Contact Us</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="first">First Name</label>
              <input type="text" class="form-control" placeholder="" id="first">
            </div>
          </div>
          <!--  col-md-6   -->

          <div class="col-md-6">
            <div class="form-group">
              <label for="last">Last Name</label>
              <input type="text" class="form-control" placeholder="" id="last">
            </div>
          </div>
          <!--  col-md-6   -->
        </div>


        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="company">Company</label>
              <input type="text" class="form-control" placeholder="" id="company">
            </div>


          </div>
          <!--  col-md-6   -->

          <div class="col-md-6">

            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="tel" class="form-control" id="phone" placeholder="phone">
            </div>
          </div>
          <!--  col-md-6   -->
        </div>
        <!--  row   -->


        <div class="row">
          <div class="col-md-6">

            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="email">
            </div>
          </div>
          <!--  col-md-6   -->

          <div class="col-md-6">
            <div class="form-group">
              <label for="url">Your Website <small>Please include http://</small></label>
              <input type="url" class="form-control" id="url" placeholder="url">
            </div>

          </div>
          <!--  col-md-6   -->
        </div>
        <!--  row   -->


        <label for="contact-preference">When is the best time of day to reach you?</label>
        <div class="radio">
          <label>
            <input type="radio" name="contact-preference" id="contact-preference" value="am" checked>Morning
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="contact-preference" id="contact-preference" value="pm" checked>Evening
          </label>
        </div>

        <label for="newsletter">Would you like to recieve our email newsletter?</label>
        <div class="checkbox">

          <label>
            <input type="checkbox" value="Sure!" id="newsletter"> Sure!
          </label>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    
    <div class="row">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
          <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
          <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
        </div>
      </div>
    </div>
  </div>
</div>
